.pokemon_container {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 170px;
}

.pokemon {
    width: max(820px, 10%);
    border: 9px solid red;
    border-radius: 10px;
    position: relative;
}

.pokemon_header {
    padding: 10px;
    height: 100px;
    background-color: aqua;
}

.pokemon_body {    
    padding: 10px; 
    width: 10px;
    
}
.pokemon_img { 
    text-align: center;   
    position: relative;
    top: -180px;
}
/*Animacion para la imagen cuando se le hace hover*/
.pokemon_img:hover{
    transform: rotate(300deg);
}

.pokemon_profile {
    gap: 30px;
}

.pokemon_id {
    text-align: center;
    margin-top: -80px;
    font-size: 35px;
    border: 2px solid ;
}
.pokemon_name {
    text-align: center;
    color: #ff0534;
    margin-top: 10px;
    font-size: 35px;
    text-transform: uppercase;
    font-family: var(---principal-font);
}
.pokemon_descrition{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,2fr);
}
.pokemon_descrition-weight{ 
    text-align: center;  
}
.pokemon_descrition-weight-one{
    text-transform:capitalize;
    color: #323569;
    font-weight: normal;
}
.pokemon_descrition-weight-two{
    color: #000117;
    font-weight: bold;
}
.pokemon_descrition-height{
    text-align: center;
}
.pokemon_descrition-height-one{
    text-transform: capitalize;
    color: #323569;
    font-weight: normal;
}
.pokemon_descrition-height-two{
    color: #000117;
    font-weight: bold;
}
.pokemon_descrition_two{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,2fr);
}
.pokemon_descrition_two-types{
    text-align: center;
}
.pokemon_descrition_two-one{
    text-transform: uppercase;
    
}
.pokemon_descrition_two-two{
    text-transform: capitalize;
    color:#2b97fa;
    background-color: #d0ccd1;
    border-radius:50px;
}
.pokemon_descrition_two-abilities{
    text-align: center;
    
}
.pokemon_descrition_two-abilities-one{
    text-transform:uppercase;
}
.pokemon_descrition_two-abilities-two{
    text-transform:capitalized;
    color: #f82d97;
    background-color: #d0ccd1;
    border-radius: 50px;
}
.pokemon_stats-title{
    text-align: center;
    text-transform:uppercase;
    color: #65727c;
}

.pokemon_stat-name{
    position: relative;
    left: 5%;
    bottom: -17px;
    text-transform: capitalize;
}
.pokemon_stat-value{
    position: relative;
    left: 72%;
}

.pokemon_stat-barGray {
    background-color: #c9c9c9;
    height: 24px;
}

.pokemon_stat-barprogress {
    background: linear-gradient(90deg, #f9db5c -2.25%, #efb810 133.18%);
    height: 24px;
    width: 50%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


/* types styles cambio de color de borde por tipo de poquemon */


.border-normal {

    border: 10px solid #735259;

}

.border-fighting {

    border: 10px solid #96402A;

}

.border-flying {

    border: 10px solid #beb14c;

}

.border-poison {

    border: 10px solid #5B3184;

}

.border-ground {

    border: 10px solid #654008;

}

.border-rock {

    border: 10px solid #7E7E7E;

}

.border-bug {

    border: 10px solid #E52D2D;

}

.border-ghost {

    border: 10px solid #323569;

}

.border-steel {

    border: 10px solid #5E736C;

}

.border-fire {

    border: 10px solid #F96D6F;

}

.border-water {

    border: 10px solid #133258;

}

.border-grass {

    border: 10px solid #7EC6C5;

}

.border-electric {

    border: 10px solid #0C1395;

}

.border-psychic {

    border: 10px solid #E52D2D;

}

.border-ice {

    border: 10px solid #6FBEDF;

}

.border-dragon {

    border: 10px solid #478A93;

}

.border-dark {

    border: 10px solid #030706;

}

.border-fairy {

    border: 10px solid #971B45;

}

.border-unknown {

    border: 10px solid #696767;

}

.border-shadow {

    border: 10px solid #6c31a3;

}



/* background linear gradient */


.bg-lg-normal {

    background: linear-gradient(180deg, #735259, #000);

}

.bg-lg-fighting {

    background: linear-gradient(180deg, #96402A, #000);

}

.bg-lg-flying {

    background: linear-gradient(180deg, #beb14c, #000);

}

.bg-lg-poison {

    background: linear-gradient(180deg, #5B3184, #000);

}

.bg-lg-ground {

    background: linear-gradient(180deg, #654008, #000);

}

.bg-lg-rock {

    background: linear-gradient(180deg, #7E7E7E, #000);

}

.bg-lg-bug {

    background: linear-gradient(180deg, #E52D2D, #000);

}

.bg-lg-ghost {

    background: linear-gradient(180deg, #323569, #000);

}

.bg-lg-steel {

    background: linear-gradient(180deg, #5E736C, #000);

}

.bg-lg-fire {

    background: linear-gradient(180deg, #F96D6F, #000);

}

.bg-lg-water {

    background: linear-gradient(180deg, #133258, #000);

}

.bg-lg-grass {

    background: linear-gradient(180deg, #7EC6C5, #000);

}

.bg-lg-electric {

    background: linear-gradient(180deg, #0C1395, #000);

}

.bg-lg-psychic {

    background: linear-gradient(180deg, #E52D2D, #000);

}

.bg-lg-ice {

    background: linear-gradient(180deg, #6FBEDF, #000);

}

.bg-lg-dragon {

    background: linear-gradient(180deg, #478A93, #000);

}

.bg-lg-dark {

    background: linear-gradient(180deg, #030706, rgb(34, 34, 34));

}

.bg-lg-fairy {

    background: linear-gradient(180deg, #971B45, #000);

}

.bg-lg-unknown {

    background: linear-gradient(180deg, #696767, #000);

}

.bg-lg-shadow {

    background: linear-gradient(180deg, #6c31a3, #000);

}