@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,400;1,700&family=Roboto:wght@300;400;500;700&family=Work+Sans:wght@100;300;400;600;800&display=swap');

:root{
  ---principal-font:'Roboto', sans-serif;
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 8%, 95%);
  --White: hsl(0, 0%, 100%);
}


body{
  margin: 0;
}
html{
  box-sizing: border-box;
  font-family: var(---principal-font);
}
*,*::after, *::before {
  box-sizing: inherit;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}